@using Tabulate.Umbraco.ValueConveters.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.ContentPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{ Layout = "master.cshtml"; }

@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<section class="section">

    <div class="container">

        <div class="col-md-3">
            <nav class="nav-bar nav-bar--list">
                @Html.Partial("~/Views/Partials/Navigation/SubNavigation.cshtml")
            </nav>
        </div>

        <div class="col-md-9">
            <article>
                @Html.GetGridHtml(Model, "bodyText", "bootstrap3-fluid")
            </article>
        </div>
    </div>

    <table>
        <tr>
            @foreach (HeaderModel header in Model.Tabulate.Headers)
            {
                <th>@header.Name @header.Type</th>            
            }
        </tr>
        @foreach (RowModel row in Model.Tabulate.Rows)
        {
            <tr>
                @foreach (object cell in row.Cells)
                {
                    <td>@cell</td>
                }
            </tr>
        }
    </table>
