@using Tabulate.Umbraco.ValueConverters.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.ContentPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{ Layout = "master.cshtml"; }

@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<section class="section">

    <div class="container">

        <div class="col-md-3">
            <nav class="nav-bar nav-bar--list">
                @Html.Partial("~/Views/Partials/Navigation/SubNavigation.cshtml")
            </nav>
        </div>

        <div class="col-md-9">
            <article>
                @Html.GetGridHtml(Model, "bodyText", "bootstrap3-fluid")
            </article>
        </div>
    </div>

<h1>From blocklist</h1>
@{
        var blocks = Model.Blocklist.Select(x => x.Content).OfType<TabulateBlock>();
        
        foreach (var block in blocks)
        {

         <table>
            <tr>
                @foreach(var h in block.Table.Headers) {
                    <th>
                        @h.Name (@h.Type)
                    </th>
                }   
            </tr>
            
            @foreach(var row in block.Table.Rows) {
                <tr>
                    @foreach (var cell in row.Cells) {
                        <td>@cell</td>    
                    }
                </tr>
            }
        </table>
        }
    }

<h1>From standalone property</h1>
    <table>
        <tr>
            @foreach (HeaderModel header in Model.Tabulate.Headers)
            {
                <th>@header.Name @header.Type</th>            
            }
        </tr>
        @foreach (RowModel row in Model.Tabulate.Rows)
        {
            <tr>
                @foreach (object cell in row.Cells)
                {
                    <td>@cell</td>
                }
            </tr>
        }
    </table>
